@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
    font-family: "Radio Canada Big", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #1c1c1d;

}

#container{

    display: flex;
    align-items: center;
    gap: 3.5rem;
    
}

#calculadora{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #dddddd;
    background-color: #2b2b2c;
    border-radius: 8px;
}

#form{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
    



}

#title{

    font-size: 2rem;
    position: relative;
    
    
}

/* #title::after{

    position: absolute;
    content: "";
    background-color: rgb(130, 189, 189);
    width: 3.7rem;
    height: 3px;
    bottom: 0;
    right: 0;
    border-radius: 3px;
    

}

#title::before{

    position: absolute;
    content: "";
    background-color: rgb(130, 189, 189);
    width: 3.7rem;
    height: 3px;
    right: 0;
    top:0;
    border-radius: 3px;

} */

.input-box label{

    font-size:1rem;
    color: #dddddd;
    font-weight: 500;


}

.input-field{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #39393b;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;

}
.input-field i,
.input-field span{

    color: #dddddd;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;

}

.input-field input {

    background-color: transparent;
    border: none;
    width: 12rem;
    font-size: 1.6rem;
    color: azure;
    padding: 0 0.5rem;

}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button{
    appearance: none;
}

.input-field input:focus {
    outline: none;

}

#calcular{

    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: rgb(16, 27, 24);
    color: #cfcfcf;
    padding: 0.4rem 0;
    border-radius: 3px;
    width: 10rem;
    cursor: pointer;

}

